.header {
	padding: 2rem;
	div {
		.logo-img {
			height: 22px;
			max-width: 100%;
		}
	}
	@include breakpoint-up(xlarge) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
        padding: 4rem 0 0 0;
        margin-left: 10.25rem;

        .logo-img{
            height: 40px !important;
        }
	}
}

.cover-photo {
	img {
		max-width: 100%;
	}
	@include breakpoint-up(xlarge) {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
        img{
            content: url(/images/hero-desktop.jpg);
        }
	}
}
