/** RESET **/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** BASE **/
body {
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1rem;
	min-height: 100vh;
	line-height: 1.6;
	background: $White-Pink-Gradient;

	@include grid(center, center);

	@include breakpoint-up(xlarge){
		@include grid(center, start);
		grid-template-columns: 1fr auto;
		grid-template-rows: auto 1fr;
		// padding: 4rem 10.25rem 8.5rem 0;

		background: url("/images/bg-pattern-desktop.svg"),$White-Pink-Gradient ;
		background-repeat: no-repeat;
	}

}

.header, .cover-photo, .content{
	width: 100%;
	@include breakpoint-down(large){
		max-width: 375px;
	}
}
img{
	display: block;
}
input, button{
	width: 100%;
	height: 100%;
	font-family: inherit;
	border-radius: 4rem;

	&[type=email]{
		background: hsl(0, 100%, 98%);
		padding: 1rem;
		border: solid 1px $Desaturated-Red;

		&::placeholder{
			color: $Desaturated-Red;
		}

		&:focus{
			outline: none;
		}
	}
}

.attribution{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}