/** RESET **/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** BASE **/
body {
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1rem;
	min-height: 100vh;
	line-height: 1.6;
	background: $White-Pink-Gradient;

	@include grid(center, center);

	@include breakpoint-up(medium){
		@include grid(center, center);
		grid-template-columns: 3fr 2fr;
		grid-template-rows: auto 1fr;

		background: url("/images/bg-pattern-desktop.svg");
		background-size: 60% 100%;
		background-repeat: no-repeat;
	}

}

.header, .cover-photo, .content{
	width: 100%;
	@include breakpoint-down(small){
		max-width: 375px;
	}
}
img{
	display: block;
}
input, button{
	width: 100%;
	height: 100%;
	font-family: inherit;
	border-radius: 4rem;

	&[type=email]{
		background: hsl(0, 100%, 98%);
		padding: 1rem;
		border: solid 1px $Desaturated-Red;

		&::placeholder{
			color: $Desaturated-Red;
		}

		&:focus{
			outline: none;
		}
	}
}

.attribution{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}