/** RESET **/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** BASE **/
body {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  line-height: 1.6;
  background: linear-gradient(135deg, white, #fff5f5);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media (min-width: 48em) {
  body {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    background: url("/images/bg-pattern-desktop.svg");
    background-size: 60% 100%;
    background-repeat: no-repeat;
  }
}

.header, .cover-photo, .content {
  width: 100%;
}

@media (max-width: 47.9375em) {
  .header, .cover-photo, .content {
    max-width: 375px;
  }
}

img {
  display: block;
}

input, button {
  width: 100%;
  height: 100%;
  font-family: inherit;
  border-radius: 4rem;
}

input[type=email], button[type=email] {
  background: #fff5f5;
  padding: 1rem;
  border: solid 1px #ce9797;
}

input[type=email]::-webkit-input-placeholder, button[type=email]::-webkit-input-placeholder {
  color: #ce9797;
}

input[type=email]:-ms-input-placeholder, button[type=email]:-ms-input-placeholder {
  color: #ce9797;
}

input[type=email]::-ms-input-placeholder, button[type=email]::-ms-input-placeholder {
  color: #ce9797;
}

input[type=email]::placeholder, button[type=email]::placeholder {
  color: #ce9797;
}

input[type=email]:focus, button[type=email]:focus {
  outline: none;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header {
  padding: 2rem;
}

.header .logo-img {
  height: 22px;
  max-width: 100%;
}

@media (min-width: 48em) {
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    padding: 4rem 0 0 0;
    width: 445px;
  }
  .header .logo-img {
    height: 40px !important;
  }
}

@media (max-width: 47.9375em) {
  .cover-photo img {
    max-width: 100%;
  }
}

@media (min-width: 48em) {
  .cover-photo {
    width: 100%;
    height: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .cover-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    content: url(/images/hero-desktop.jpg);
  }
}

.content {
  padding: 4rem 2rem;
  text-align: center;
}

@media (min-width: 48em) {
  .content {
    text-align: left;
    max-width: 445px;
    padding: 0 0 0 0;
  }
}

.content .coming-soon {
  font-size: 1.875rem;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  color: #413a3a;
}

@media (min-width: 48em) {
  .content .coming-soon {
    font-size: 2.8125rem;
  }
}

.content .coming-soon > span {
  font-weight: 300;
  color: #ce9797;
}

.content .welcome {
  color: #ce9797;
  padding-block: 1rem 1.875rem;
  font-size: 0.875rem;
}

@media (min-width: 48em) {
  .content .welcome {
    font-size: 0.935rem;
  }
}

.content .subscribe-form {
  position: relative;
  width: 100%;
  height: 51px;
}

.content .subscribe-form .enter-email {
  position: relative;
  height: 100%;
}

.content .subscribe-form .enter-email > svg {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .subscribe-form .submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
}

.content .subscribe-form .submit-btn button {
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 0px 8px 8px 4px rgba(206, 151, 151, 0.28);
          box-shadow: 0px 8px 8px 4px rgba(206, 151, 151, 0.28);
  border: none;
  cursor: pointer;
}

.content .subscribe-form .submit-btn button:hover {
  opacity: 0.6;
}

@media (min-width: 48em) {
  .content .subscribe-form .submit-btn {
    width: 100px;
  }
}

.content .subscribe-form .submit-btn > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content .warning {
  visibility: hidden;
  color: #f96262;
  font-size: 0.9375rem;
  margin-left: 1rem;
  padding-block: 0.5rem;
}
/*# sourceMappingURL=styles.css.map */