:root {
  --fs-400: .875rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* PSEUDO ELEMENT */
figure {
  display: grid;
  align-items: center;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: var(--fs-400);
  color: #dddbff;
  background: url("/images/bg-mobile.png") no-repeat center center/cover;
}

.container {
  width: min(90%, 1110px);
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.main {
  padding-top: 7.9375rem;
}
.main section {
  border-radius: 0.5rem;
  background-color: #1d2c67;
  padding: 2.5625rem;
}
.main .section-one {
  border-top-right-radius: 6.25rem;
}
.main .section-one .service-icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.main .section-one .service-icons > * {
  padding: 0.75rem 0.875rem;
  background-color: #0c122c;
  border-radius: 0.5rem;
}
.main .section-one .service-icons > * + * {
  margin-left: 1rem;
}
.main .section-two {
  position: relative;
  margin-top: 1rem;
  padding-bottom: 2.875rem;
}
.main .section-two p strong {
  font-weight: 700;
}
.main .section-two .gigs-left {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 179px;
  transform: translate(-50%, 50%);
  padding: 0.375rem 0;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main .section-two .gigs-left strong:first-child {
  font-size: 2.5rem;
  color: #0c122c;
}
.main .section-two .gigs-left strong:last-child {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #848794;
}
.main .section-two .status-bar {
  position: relative;
  margin-top: 1rem;
  border-radius: 2rem;
  height: 20px;
  background: #0c122c;
}
.main .section-two .status-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  width: 74%;
  height: 14px;
  transform: translateY(-50%);
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 0.5rem;
}
.main .section-two .status-bar::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25.5%;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  background-color: #dddbff;
  border-radius: 100%;
}
.main .section-two .gigs {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */