@use "./mixins" as *;
@use "./functions" as *;

.container{
    @include center-auto;
    max-width: toRem(1110);
    padding: 0 1.5rem;
    @include breakpoint-up(xlarge){
        padding: 0;
    }
}

.text-center{
    text-align: center;
}

.sweepfromSide{
    @include sweepfromSide;
}
.sweepfromLevel{
    @include sweepfromLevel;
}
