@use "../base/" as *;

.getstarted {
	margin-top: 2.5rem;
	padding: 0.75rem 2.25rem;
	color: white;
	font-weight: bold;
	background-color: $clr-primary-p-700;
	border-radius: $br-l;
    transition: opacity .3s ease, transform .3s ease;

    box-shadow: 0px 6px 20px -6px hsla(322, 100%, 66%, .85);

    &:hover{
        opacity: .85;
        transform: scale(1.05);
    }
}

.header {
}
.nav {
	&.container {
		width: unquote("min(90%, 1300px)");
	}
	padding-top: unquote("clamp(16px, 5.5vw, 100px)");
	@include flex(row, c, sb);

	> img {
		max-height: unquote("clamp(16px, 3.2vw, 40px)");
	}
	> a {
		padding: 0.3125rem 1.125rem;
		font-size: unquote("clamp(10px, 2vw,16px)");
		color: $clr-primary-p-700;
		border: 1px solid $clr-primary-p-700;
		border-radius: $br-l;
	}
}
.intro {
	&.container {
		width: unquote("min(85%, 1020px)");
	}
	margin-top: toRem(112);
	> p {
		margin-top: 2rem;
	}
	> img {
		margin-top: toRem(100);
	}
}
.stats {
	&.container {
		width: unquote("min(60%, 880px)");
	}

	@include breakpoint-up(medium) {
		@include flex(row, c, sa);
		&.container {
			width: unquote("min(90%, 880px)");
		}
	}

	&-card {
		margin-top: toRem(100);
		@include breakpoint-down(large) {
			@include center-auto;
		}
		width: max-content;

		p {
			color: #808e9a;
			> b {
				position: relative;
				display: block;
				font-size: var(--fs-900);
				color: $clr-neutral-900;

				&::before {
					position: absolute;
					content: "";
					left: 0;
					bottom: 100%;
					width: unquote("clamp(33px, 3.5vw, 56px)");
					height: unquote("clamp(33px, 3.5vw, 56px)");
				}
				&.communities::before {
					background: url(/images/icon-communities.svg) no-repeat center center/100%;
				}
				&.messages::before {
					background: url(/images/icon-messages.svg) no-repeat center center/100%;
				}
			}
		}
	}
}
.features {
	> img {
		width: 100%;
	}
	.feature {
		@include breakpoint-down(large) {
			&-h {
				margin-top: 4.5rem;
			}
		}
		&-desc {
			margin-top: 1.75rem;
		}

		@include breakpoint-up(large) {
			@include grid(c);
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			gap: 3rem;

			text-align: left;
		}
	}

	.flow {
		padding: toRem(120) 0;
	}

	.grow,
	.your {
		position: relative;
		background-color: $clr-neutral-200;
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			background-color: white;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		@include breakpoint-up(large) {
			> img {
				grid-column: 2 / 3;
			}
			.feature-content {
				grid-column: 1 / 2;
			}
		}
	}
	.grow {
		padding-top: calc((100vw / 3.34) + 4.75rem);
		&::before {
			height: calc(100vw / 3.34);
			background-image: url(/images/bg-section-top-mobile-1.svg);
		}
		padding-bottom: calc((100vw / 7.21) + 4.75rem);
		&::after {
			height: calc(100vw / 7.21);
			background-image: url(/images/bg-section-bottom-mobile-1.svg);
		}

		@include breakpoint-up(large) {
			padding-top: calc((100vw / 8.72) + 4.75rem);

			&::before {
				height: calc(100vw / 8.72);

				background-image: url(/images/bg-section-top-desktop-1.svg);
			}
			padding-bottom: calc((100vw / 10.35) + 4.75rem);
			&::after {
				height: calc(100vw / 10.35);

				background-image: url(/images/bg-section-bottom-desktop-1.svg);
			}
		}
	}
	.your {
		padding-top: calc((100vw / 3.64) + 2rem);
		&::before {
			height: calc(100vw / 3.64);
			background-image: url(/images/bg-section-top-mobile-2.svg);
		}
		padding-bottom: calc((100vw / 3.71) + 7rem);
		&::after {
			height: calc(100vw / 3.71);
			background-image: url(/images/bg-section-bottom-mobile-2.svg);
		}

		@include breakpoint-up(large) {
			padding-top: calc((100vw / 9.2) + 2rem);
			&::before {
				height: calc(100vw / 9.2);
				background-image: url(/images/bg-section-top-desktop-2.svg);
			}
			padding-bottom: calc((100vw / 10.35) + 7rem);
			&::after {
				height: calc(100vw / 10.35);
				background-image: url(/images/bg-section-bottom-desktop-2.svg);
			}
		}
	}
}
.ready {
	padding: toRem(125) 0;
	@include breakpoint-up(large) {
		padding: toRem(175) 0;
	}
}
.footer {
    margin-top: -2px;
    padding: toRem(60) 0;
	color: white;
	background-color: $clr-neutral-900;
    text-align: left;

	&-content {
        @include grid();
        grid-auto-flow: row;
        gap: toRem(90);
        
        @include breakpoint-up(large){
            grid-auto-flow: column;
            grid-auto-columns: 1fr;

            .newsletter{
                grid-column: 2 / 3;
            }
            .moreinfo{
                grid-column: 1 / 2;
            }
        }
		.newsletter {
			> b {
				text-transform: uppercase;
				font-weight: bold;
                font-size: 1.25rem;
			}
            >p{
                margin-top: 1.5rem;
            }
			.subscribe {
				input[type=text] {
                    margin-top: 1.5rem;
                    padding: .75rem;
					width: toRem(320);
                    height: 3rem;
					border-radius: $br-xs;

					&:placeholder {
                        font-family: inherit;
						color: lightgray;
					}
				}
				> button[type="submit"] {
                    text-align: right;
                    margin-top: .75rem;
					width: toRem(160);
					padding: 0.75rem 2.5rem;
					border-radius: .25rem ;
				}
			}
		}
        .moreinfo{
            >img{
                max-height: 2rem;
            }
            .desc{
                margin-top: 2rem;
            }
            .phone,.email{
                &::before{
					font-size: 0;
					line-height: 0;
                    vertical-align: middle;
                    margin-right: 1rem;
                }
            }
            .phone{
                margin-top: 2.5rem;
                &::before{
                    content: url(/images/icon-phone.svg);
                }
            }
            .email{
                margin-top: 1.5rem;
                &::before{
                    content: url(/images/icon-email.svg);
                }
            }
            .socials{
                margin-top: 3rem;
                @include flex(row, fe);

                > * + * {
                    margin-left: 1rem;
                }

                a{
                    opacity: .9;
                    transition: transform .3s ease, opacity .3s ease;
					
					>svg>path{
						transition: fill .3s ease;
					}
                    &:hover{
                        transform: scale(1.15);
                        opacity: 1;

						>svg>path{
							fill: #00C7FA;
						}
                    }
                }
            }
        }
	}
}
