body {
	position: relative;
	font-family: $ff-primary;
	font-size: var(--fs-400);
	background-color: $clr-neutral-300;
	border-top: 1px solid $clr-neutral-300;
}

figure {
	display: grid;
	justify-items: center;
}

label {
	display: block;
	width: 100%;
	border-radius: $br;
}

button,
input {
	border-radius: $br;
	font-size: var(--fs-700);
	font-weight: 700;
}

input {
	padding: 0 1.125rem;
	width: 100%;
	height: 3rem;
	background-color: $clr-neutral-200;
	text-align: right;
    border: solid 2px transparent;

	&::placeholder {
		opacity: 0.5;
		color: $clr-neutral-700;
	}

	&:focus {
		color: $clr-neutral-900;
		border: solid 2px $clr-primary-900;
		border-radius: $br;
	}

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

p {
	margin-bottom: 0.75rem;
	color: $clr-neutral-700;
	font-weight: $fw-700;
}
