$Soft-red: hsl(7, 99%, 70%);
$Opaque-Red: hsla(7, 99%, 70%, .5);
$Yellow: hsl(51, 100%, 49%);
$Opaque-Yellow: hsla(51, 100%, 49%, 0.5);


//design text
$Dark-desaturated-cyan: hsl(167, 40%, 24%);

//photography text
$Dark-blue: hsl(198, 62%, 26%);

//footer
$Dark-moderate-cyan: rgba(119, 202, 186, 0.7);


$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);