/** RESET **/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** BASE **/
body {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 1.1875rem;
  min-height: 100vh;
}

figure {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #818498;
}

@media (min-width: 48em) {
  a {
    color: white;
  }
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', serif;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.625rem;
  }
}

h2 {
  font-size: 1.625rem;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.container {
  width: 100%;
}

.header {
  background: url("/images/mobile/image-header.jpg") no-repeat bottom center/cover;
  border-bottom: 1px solid transparent;
}

@media (min-width: 48em) {
  .header {
    background: url("/images/desktop/image-header.jpg") no-repeat bottom center/cover;
  }
}

.header .nav {
  position: relative;
  outline: solid 1px red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 1.5rem;
}

@media (min-width: 48em) {
  .header .nav {
    padding: 3rem 2.375rem;
  }
}

@media (min-width: 48em) {
  .header .nav__logo {
    margin-top: 1.75px;
  }
}

@media (max-width: 47.9375em) {
  .header .nav__menu {
    visibility: hidden;
    opacity: 0;
    margin-top: -15px;
    -webkit-transition: visibility 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
    transition: visibility 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 150%;
    left: 1.5rem;
    width: calc(100% - 3rem);
    padding: 2.375rem;
    background-color: white;
  }
  .header .nav__menu.dropdown {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
  }
  .header .nav__menu::after {
    content: "";
    position: absolute;
    top: -24px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 24px solid white;
    border-left: 24px solid transparent;
  }
  .header .nav__menu li:not(:first-child) {
    margin-top: 2.625rem;
  }
}

@media (min-width: 48em) {
  .header .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    gap: 3rem;
  }
}

.header .nav__menu .contact {
  display: block;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  padding: 1.25rem 1.875rem;
  background-color: #fad400;
  border-radius: 2rem;
}

.header .nav__menu .contact strong {
  color: #23303e;
}

@media (min-width: 48em) {
  .header .nav__menu .contact {
    background-color: white;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

.header .nav .hamburger__menu {
  margin-left: auto;
}

@media (min-width: 48em) {
  .header .nav .hamburger__menu {
    display: none;
  }
}

.header h1 {
  margin-top: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.header .down__arrow {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-block: 55px 130px;
}

@media (min-width: 48em) {
  .header .down__arrow {
    margin-block: 100px 325px;
  }
}

@-webkit-keyframes sweep {
  0% {
    visibility: hidden;
    margin-top: -10px;
  }
  100% {
    visibility: visible;
    margin-top: 0px;
  }
}

@keyframes sweep {
  0% {
    visibility: hidden;
    margin-top: -10px;
  }
  100% {
    visibility: visible;
    margin-top: 0px;
  }
}

.features {
  margin-top: -1px;
}

@media (max-width: 47.9375em) {
  .features article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features h1 {
  font-size: 36px;
  font-weight: 900;
  color: #23303e;
}

.features p {
  margin-top: 40px;
  line-height: 1.6;
  font-size: 1rem;
  color: #818498;
}

.features img {
  width: 100%;
}

.features .transform__details,
.features .standout__details {
  padding: 70px 30px;
}

.features .transform__details .learnmore,
.features .standout__details .learnmore {
  margin-top: 42px;
}

.features .transform__details .learnmore a,
.features .standout__details .learnmore a {
  position: relative;
  text-transform: uppercase;
  color: #23303e;
  font-weight: 900;
  font-family: "Fraunces", serif;
  font-size: 1.125rem;
}

.features .transform__details .learnmore a::after,
.features .standout__details .learnmore a::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5%;
  bottom: -2px;
  width: 110%;
  height: 9px;
  border-radius: 4px;
}

.features .transform a::after {
  background-color: rgba(250, 212, 0, 0.5);
}

.features .standout a::after {
  background-color: rgba(254, 120, 103, 0.5);
}

.features .ux, .features .photography {
  padding: 400px 1.375rem 60px;
}

.features .ux {
  background: url("/images/mobile/image-graphic-design.jpg") no-repeat center center/cover;
}

.features .ux h2, .features .ux p {
  color: #25564b;
}

.features .photography {
  background: url("/images/mobile/image-photography.jpg") no-repeat center center/cover;
}

.features .photography h2, .features .photography p {
  color: #19536b;
}

.testimonials {
  padding: 68px 36px;
}

.testimonials h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  color: #a7abae;
}

.testimonials .cards img {
  max-height: 72px;
  border-radius: 100%;
}

.testimonials .cards section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 68px;
}

.testimonials .cards section blockquote, .testimonials .cards section h3 {
  margin-top: 40px;
  font-size: 17px;
  line-height: 1.7;
}

.testimonials .cards section blockquote {
  color: #5a636c;
}

.testimonials .cards section h3 {
  color: #23303e;
  font-weight: 900;
}

.testimonials .cards section h4 {
  margin-top: .375rem;
  font-family: 'Barlow', sans-serif;
  font-size: .875rem;
  color: #a7abae;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.gallery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: rgba(119, 202, 186, 0.7);
}

.footer__content {
  padding: 60px 38px 70px;
}

.footer__content figure img {
  opacity: .8;
  height: 30px;
}

.footer__content a {
  font-size: 1rem;
  color: #25564b;
}

.footer__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content .footer__menu {
  margin-top: 40px;
  gap: 55px;
}

.footer__content .footer__menu li {
  opacity: .8;
}

.footer__content .socials {
  margin-top: 80px;
  gap: 28px;
}
/*# sourceMappingURL=styles.css.map */