.section-three{
    @include grid();
    gap: 4rem;
    margin-top: toRem(111);
    .card{
        figure{
            @include center-auto;
            @include grid(c,c);
            border-radius: $br;
            width: toRem(65);
            height: toRem(65);
            background-color: $clr-primary-700;
        }
        h3{
            margin-top: 3rem;
        }
        p{
            margin-top: toRem(28);
        }
    }
    @include breakpoint-up(medium){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        margin-top: toRem(70);
        gap: 3.5rem;
        .card{
            margin: 0;
            figure{
                margin: 0;
            }
        }
    }
    @include breakpoint-up(large){
        margin-top: toRem(170);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content;
        gap: 3rem;
    }
}