.section-three{
    @include grid();
    gap: 4rem;
    .card{
        figure{
            @include center-auto;
            @include grid(c,c);
            border-radius: $br;
            width: toRem(65);
            height: toRem(65);
            background-color: $clr-primary-700;
        }
        h3{
            margin-top: 3rem;
        }
        p{
            margin-top: toRem(28);
        }
    }
    @include breakpoint-up(medium){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        
        .card{
            margin: 0;
            figure{
                margin: 0;
            }
        }
    }
}