.section-one {
	margin: toRem(142) auto 1.5rem;
	text-align: left;

	@include breakpoint-up(medium) {
		@include flex(row, c);
		margin-bottom: 3rem;
	}
    
    @include breakpoint-up(large){
        button{
			transition: background-color .3s ease;

			&:hover{
				background-color: $clr-primary-400 !important;
			}
		}
    }

	.typemaster {
		margin-bottom: 4rem;
		.desc {
			margin: toRem(36) 0;
		}
		.order-info {
			@include flex(row, c);
			.preorder {
				background-color: $clr-primary-700;
				color: $clr-neutral-100;
			}
			.release-date {
				margin-left: toRem(40);
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		@include breakpoint-btwn(medium, large) {
			width: 49%;
			max-width: toRem(340);
			flex-shrink: 0;
			margin-bottom: 0;
		}
		@include breakpoint-up(large) {
			margin-bottom: 0;
			max-width: toRem(445);
		}
	}
	.keyboard {
		margin-right: -3rem;
		img {
			border-radius: 1rem 0 0 1rem;
		}

		@include breakpoint-up(medium) {
            flex-grow: 1;
            @include flex();
			margin-left: toRem(69);
			width: 51%;
			min-height: toRem(425);
			img {
				content: url("/assets/tablet/image-keyboard.jpg");
				max-width: none;
				width: 100%;
				object-fit: cover;
				object-position: left center;
			}
		}
		@include breakpoint-up(large) {
			margin-left: toRem(125);
			margin-right: 0;
			min-height: toRem(480);
			img {
				border-radius: $br;
				content: url("/assets/desktop/image-keyboard.jpg");
			}
		}
	}
}
