@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* CENTER OVERFLOW */
/* PSEUDO ELEMENT */
/* BACKGROUND  */
/* TRANSITIONS */
.container {
  margin-left: auto;
  margin-right: auto;
  width: min(88%, 1240px);
}

.text-center {
  text-align: center;
}

.sweepfromSide {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.sweepfromLevel {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

:root {
  --fs-100: .8125rem;
  --fs-200: .875rem;
  --fs-300: .9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;
  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.75rem;
}
@media (min-width: 48em) {
  :root {
    --fs-h1: clamp(1.5rem, 3.4vw, 2.5rem);
    --fs-h2: clamp(1.25rem, 2.5vw, 1.5rem);
  }
}
@media (min-width: 64em) {
  :root {
    --fs-100: .9375rem;
    --fs-200: 1rem;
  }
}

/* Box sizing rules, removing default padding and margins */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style-type: none;
}

/* a elements no text decor */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img, svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
a,
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: var(--fs-200);
  color: white;
  background-color: #181f2a;
  text-align: center;
}
@media (min-width: 48em) {
  body {
    overflow: visible !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

a {
  color: white;
}

a:not(.fa, .see) {
  margin-right: 0.5rem;
  position: relative;
  transition: transform 0.3s ease;
}
a:not(.fa, .see)::before {
  content: "";
  position: absolute;
  inset: 100% 100% auto 0;
  height: 1px;
  background-color: white;
  transition: right 0.3s ease;
}
a:not(.fa, .see):hover {
  transform: scale(1.1);
}
a:not(.fa, .see):hover::before {
  right: 0;
}

.getstarted {
  margin-top: 2rem;
  padding: 0.8125rem 6.25rem;
  background: linear-gradient(#63e1d9, #34a0cd);
  font-weight: bold;
  border-radius: 4rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.getstarted:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.header {
  background-color: #1c2431;
}

.nav {
  overflow: hidden;
  padding: 1.5rem 0 4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 48em) {
  .nav {
    padding: 3rem 0 4rem;
  }
}
.nav-logo {
  margin: 0;
  max-height: 1.5rem;
}
@media (max-width: 47.9375em) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 auto;
    width: 12.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 4rem 2rem;
    background-color: #1c2431;
  }
  .nav-menu > * + * {
    margin-top: 2rem;
  }
}
@media (min-width: 48em) {
  .nav-menu {
    display: flex;
    flex-direction: row;
    font-size: var(--fs-200);
  }
  .nav-menu > * + * {
    margin-left: 2rem;
  }
}
@media (min-width: 48em) {
  .nav-open, .nav-close {
    display: none;
  }
}
.nav-close {
  position: absolute;
  inset: 1.5rem 1.5rem auto auto;
  margin-top: 0;
}
.nav.show .nav-menu {
  transform: translateX(0);
}

.section-one {
  position: relative;
  background: linear-gradient(to bottom, #1c2431 60%, #181f2a 60%, #181f2a);
}
.section-one > .background {
  position: absolute;
  width: 100%;
  bottom: 40%;
}
.section-one > .container {
  position: relative;
  width: min(85%, 730px);
}

.intro > img {
  margin-left: auto;
  margin-right: auto;
}
.intro > h1 {
  margin-top: 2rem;
}
.intro > p {
  margin-top: 1.25rem;
}

.section-two > .container {
  width: min(88%, 880px);
}

.features {
  margin-top: 3rem;
}
.features .card {
  margin-top: 5rem;
}
.features .card > img {
  margin-left: auto;
  margin-right: auto;
}
.features .card > h2 {
  margin-top: 2.5rem;
}
.features .card > p {
  margin-top: 1rem;
}
@media (min-width: 48em) {
  .features {
    margin-top: 9rem;
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: min(5.4vw, 80px) min(10.1vw, 140px);
  }
  .features .card {
    margin-top: 0;
    max-width: 21.875rem;
  }
  .features .card:nth-child(even) {
    justify-self: flex-end;
  }
}

.section-three {
  text-align: left;
  margin-top: 8.75rem;
}

.productive .content > h1 {
  margin-top: 4rem;
}
.productive .content > p {
  margin-top: 1rem;
}
.productive .content > a {
  margin-top: 0.5rem;
  position: relative;
  color: #62e0d9;
}
.productive .content > a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 105%;
  height: 1px;
  background-color: #62e0d9;
}
.productive .content > a::after {
  display: inline-block;
  content: url(/images/icon-arrow.svg);
  font-size: 0;
  vertical-align: middle;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}
.productive .content > a:hover::after {
  transform: scale(1.3) translateX(2px);
}
@media (min-width: 64em) {
  .productive {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1.5fr 1fr;
    gap: clamp(2rem, 3.125vw, 5rem);
    gap: 5rem;
  }
  .productive .content > h1 {
    margin-top: 0;
  }
}

.section-four {
  margin: 9.375rem 0;
}
.section-four > .container {
  width: min(83%, 1180px);
}
@media (min-width: 64em) {
  .section-four .testimonials {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2vw;
  }
}

.testimonial {
  margin-top: 1.5rem;
  padding: 2rem 1.5rem;
  background-color: #202a3c;
  text-align: left;
  line-height: 1.7;
  border-radius: 0.5rem;
}
.testimonial:first-child {
  position: relative;
}
.testimonial:first-child::before {
  content: open-quote;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-30%, -38%);
  z-index: -1;
  color: #62e0d9;
  font-size: clamp(80px, 18.4vw, 200px);
  font-family: "Nunito Sans", sans-serif;
}
.testimonial .said {
  font-size: var(--fs-100);
}
.testimonial .testimonee {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.testimonial .testimonee img {
  margin: 0;
  max-width: 2rem;
  border-radius: 50%;
}
.testimonial .testimonee .profile {
  margin-left: 0.5rem;
  letter-spacing: 1px;
}
.testimonial .testimonee .profile > p {
  font-size: 0.5rem;
}
.testimonial .testimonee .profile > p > b {
  display: block;
  font-size: 0.75rem;
}

.section-five {
  text-align: center;
  background: linear-gradient(to bottom, #181f2b 65%, #0b1524 65%);
}
.section-five > .container {
  width: min(88%, 860px);
}

.subscribe {
  padding: 2.5rem 1.5rem;
  background-color: #1b2330;
  border-radius: 0.5rem;
}
.subscribe > p {
  margin: 1.5rem 0;
}
.subscribe > form .sub {
  display: block;
  position: relative;
}
.subscribe > form .sub > input {
  width: 100%;
  padding: 0.75rem 1.75rem;
  border-radius: 8rem;
  background-color: white;
}
.subscribe > form .sub > input::placeholder {
  color: lightgray;
}
.subscribe > form .sub::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0.125rem 0 0 1rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ff4242;
}
@media (min-width: 48em) {
  .subscribe > form .sub::after {
    margin-left: 1.5rem;
  }
}
.subscribe > form .sub.error::after {
  content: "Enter a valid email";
}
.subscribe > form .getstarted {
  margin-top: 1.5rem;
  padding: 0.75rem 4rem;
  width: 100%;
  color: white;
}
@media (min-width: 48em) {
  .subscribe > form {
    display: flex;
    flex-direction: row;
  }
  .subscribe > form .sub {
    width: 66.6%;
  }
  .subscribe > form .getstarted {
    margin: 0 0 0 2rem;
    padding: 0.75rem 1.75rem;
    width: 33.3%;
  }
}

.footer {
  padding: 4rem 0;
  text-align: left;
  background-color: #0b1523;
}

.footer-content > img {
  margin: 0;
  max-height: 1.5rem;
}
.footer-content ul {
  margin-top: 2.5rem;
}
.footer-content ul > * + * {
  margin-top: 1.25rem;
}
.footer-content .more .location::before,
.footer-content .more .phone::before,
.footer-content .more .email::before {
  margin-right: 1rem;
  font-size: 0;
  vertical-align: middle;
}
.footer-content .more .location {
  display: flex;
  flex-direction: row;
}
.footer-content .more .location::before {
  transform: translateY(5px);
  content: url(/images/icon-location.svg);
}
.footer-content .more .phone::before {
  content: url(/images/icon-phone.svg);
}
.footer-content .more .email::before {
  content: url(/images/icon-email.svg);
}
.footer-content .socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.footer-content .socials > * + * {
  margin: 0 0 0 1rem;
}
.footer-content .socials .fa {
  display: grid;
  place-items: center;
  padding: 0.5 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 100%;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.footer-content .socials .fa::before {
  transition: transform 0.3s ease;
}
.footer-content .socials .fa:hover {
  color: #62e0d9;
  border-color: #62e0d9;
}
.footer-content .socials .fa:hover::before {
  transform: scale(1.3);
}
@media (min-width: 64em) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content);
    grid-template-rows: repeat(2, auto);
    gap: 3rem 10vw;
  }
  .footer-content > img {
    grid-area: 1/1/2/-1;
  }
  .footer-content .more {
    grid-area: 2/1/3/2;
  }
  .footer-content .about {
    grid-area: 2/2/3/3;
  }
  .footer-content .contact {
    grid-area: 2/3/3/4;
  }
  .footer-content .socials {
    grid-area: 2/4/3/5;
  }
  .footer-content ul {
    margin-top: 0;
  }
}/*# sourceMappingURL=main.css.map */