body{
    position: relative;
    border-top: 1px solid white;
    font-family: $ff-primary;
    font-size: var(--fs-400);
    text-align: center;

    @include breakpoint-up(medium){
        text-align: left;
    }

}

button{
    padding: .75rem .875rem;
    @include breakpoint-up(medium){
        padding: 1.125rem 1.25rem;
    }
    font-weight: $fw-600;
    text-transform: uppercase;
    border-radius: $br;
}

h1,h2,h3{
    text-transform: uppercase;
    line-height: 1.1;
}
h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}

p{
    color: $clr-neutral-700;
}

figure{
    // height: 100%;
}
.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}