.container{
    @include center-auto;
    // width: 90%;
    padding: 0 toRem(24);
    
    overflow: hidden;
    max-width: 1100px;
    // @include breakpoint-down(medium){
    //     max-width: 500px;
    // }
}

.text-center{
    text-align: center;
}


.sweepfromSide{
    @include sweepfromSide;
}
.sweepfromLevel{
    @include sweepfromLevel;
}
