.container{
    @include center-auto;
    padding: 0 toRem(24);
    
    max-width: 1214px;
    overflow: hidden;
    
    @include breakpoint-up(medium){
        padding: 0 toRem(44);
    }
}

.text-center{
    text-align: center;
}


.sweepfromSide{
    @include sweepfromSide;
}
.sweepfromLevel{
    @include sweepfromLevel;
}
