.tip_amt {
	@include grid(c);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, min-content) 1fr;
	gap: 2rem;

    padding: 2.875rem 2rem 2rem;
	background-color: $clr-neutral-900;
    border-radius: 1rem;

	p {
		color: $clr-neutral-500;
		font-weight: $fw-400;
        margin: 0;

		b {
			color: white;
		}

		&:nth-child(even) {
            margin-top: -6px;
            justify-self: flex-end;
			font-size: 2rem;
            font-weight: 700;
			color: $clr-primary-900;
            @include breakpoint-up(medium){
                font-size: unquote("clamp(2rem, 3.1vw, 2.875rem)")
            }
		}
	}
	button {
        padding: .75rem;
		grid-area: 3 / 1 / -1 / -1;
        align-self: flex-end;
		text-transform: uppercase;
        font-size: 1.25rem;
		color: $clr-neutral-900;
		background-color: $clr-primary-900;

        &:disabled{
            cursor: not-allowed;
            background-color: $clr-primary-900;
            opacity: .2;
        }
	}

    @include breakpoint-up(medium){
        height: 100%;
    }
}
