.tip{
    margin: 2rem 0;
    button{
        color: $clr-neutral-100;
        background-color: $clr-neutral-900;
        width: 100%;
        height: 3rem;
    }

    input{
        padding-left: 0;
    }
    
    p{

    }
    .select{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;

        @include breakpoint-up(medium){
            grid-template-rows: none;
            grid-template-columns: repeat(auto-fit, minmax(toRem(117), 1fr));
        }
    }
}