.footer{
    @include grid(center, center);

    border-top: 1px solid transparent;  
    
    background: linear-gradient(to bottom,$Opaque-Cyan, $Opaque-Cyan), url("/assets/mobile/image-footer.jpg") center center/cover no-repeat;
    
    @include breakpoint-up(medium){
        background: linear-gradient(to bottom,$Opaque-Cyan, $Opaque-Cyan), url("/assets/tablet/image-footer.jpg") center center/cover no-repeat;
    }

    padding: 6rem 6vw 4.5rem;
    h2{
        color: white;
        // margin-top: 6rem;
    }
    p{
        color: white;
        margin-top: 1.625rem;
    }

    button{
        margin-top: 2rem;
        width: 193px;
        background-color: $Dark-Violet;
        span{
            color: $Light-Violet;
        }

        &:hover{
            background-color: rgba(132, 94, 176, 0.747);
        }
    }
}