.section1 {
	width: 100%;
	overflow: hidden;

	@include grid(center, center);
	@include breakpoint-up(large) {
		@include flex(row, center, center);
		gap: 6.25rem;

		margin-top: 3rem;
		.content {
			padding: 0 0 0 0;
			max-width: 550px;
		}
	}

	#mobile-tablet {
		width: 110%;
		padding-block: 3.375rem !important;

		@include breakpoint-up(medium) {
			img {
				content: url("/assets/tablet/image-hero.png");
			}
		}
		@include breakpoint-up(large) {
			display: none;
		}
	}

	.desktopleft,
	.desktopright {
		display: none;

		@include breakpoint-up(large) {
			display: block;
		}
	}

	h1 {
		font-weight: 900;
	}

	p {
		padding-block: 2rem !important;
	}

	.buttons {
		padding-block: 1.25rem;
		.download {
			width: 193px;
			background-color: $Dark-Cyan;
			span {
				color: $Light-Cyan;
			}

			&:hover {
				background-color: rgba(77, 150, 168, 0.74);
			}
		}
		.info {
			width: 139px;
			background-color: $Dark-Violet;

			&:hover {
				background-color: $Light-Violet;
			}
		}
		@include flex(column, center, center);

		@include breakpoint-down(medium) {
			.info {
				margin-top: 1rem;
			}
		}
		@include breakpoint-up(medium) {
			flex-direction: row;
			.info {
				margin-left: 1rem;
			}
		}
	}
}
