$Dark-Cyan: hsl(192, 37, 48);
$Light-Cyan: hsl(192, 90, 77);

$Opaque-Cyan: rgba(77, 150, 168, 0.9);

$Dark-Violet: hsl(268, 34, 53);
$Light-Violet: hsl(268, 100, 86);

$Dark-Blue: hsl(240, 21, 20);

$Dark-Gray: hsl(240, 10, 57);
$White-Gray: hsl(0, 0, 98);