.container{
    @include center-auto;
    width: unquote("min(90%, 400px)");

    @include breakpoint-up(medium){
    width: unquote("min(90%, 540px)");

    }
}

.text-center{
    text-align: center;
}


.sweepfromSide{
    @include sweepfromSide;
}
.sweepfromLevel{
    @include sweepfromLevel;
}
