/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* PSEUDO ELEMENT */
/* BACKGROUND  */
/* TRANSITIONS */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  max-width: 1214px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .container {
    padding: 0 2.75rem;
  }
}

.text-center {
  text-align: center;
}

.sweepfromSide {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.sweepfromLevel {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

:root {
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
}
@media (min-width: 64em) {
  :root {
    --fs-h1: 3.5rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  border-top: 1px solid white;
  font-family: "Barlow", sans-serif;
  font-size: var(--fs-400);
  text-align: center;
}
@media (min-width: 48em) {
  body {
    text-align: left;
  }
}

button {
  padding: 0.75rem 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
@media (min-width: 48em) {
  button {
    padding: 1.125rem 1.25rem;
  }
}

h1, h2, h3 {
  text-transform: uppercase;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  color: #7b8bad;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
}
.header .nav {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .nav .order {
  background-color: #e8eff2;
}
@media (min-width: 64em) {
  .header button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .header button:hover {
    background-color: #162542 !important;
    color: white;
  }
}

.section-one {
  margin: 8.875rem auto 1.5rem;
  text-align: left;
}
@media (min-width: 48em) {
  .section-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
  }
}
@media (min-width: 64em) {
  .section-one button {
    transition: background-color 0.3s ease;
  }
  .section-one button:hover {
    background-color: #ff9b62 !important;
  }
}
.section-one .typemaster {
  margin-bottom: 4rem;
}
.section-one .typemaster .desc {
  margin: 2.25rem 0;
}
.section-one .typemaster .order-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section-one .typemaster .order-info .preorder {
  background-color: #f16718;
  color: white;
}
.section-one .typemaster .order-info .release-date {
  margin-left: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .section-one .typemaster {
    width: 49%;
    max-width: 21.25rem;
    flex-shrink: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 64em) {
  .section-one .typemaster {
    margin-bottom: 0;
    max-width: 27.8125rem;
  }
}
.section-one .keyboard {
  margin-right: -3rem;
}
.section-one .keyboard img {
  border-radius: 1rem 0 0 1rem;
}
@media (min-width: 48em) {
  .section-one .keyboard {
    flex-grow: 1;
    display: flex;
    margin-left: 4.3125rem;
    width: 51%;
    min-height: 26.5625rem;
  }
  .section-one .keyboard img {
    content: url("/assets/tablet/image-keyboard.jpg");
    max-width: none;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left center;
       object-position: left center;
  }
}
@media (min-width: 64em) {
  .section-one .keyboard {
    margin-left: 7.8125rem;
    margin-right: 0;
    min-height: 30rem;
  }
  .section-one .keyboard img {
    border-radius: 1rem;
    content: url("/assets/desktop/image-keyboard.jpg");
  }
}

.section-two .keyboards {
  max-height: 400px;
  display: flex;
  flex-direction: row;
  margin-left: -3rem;
}
.section-two .keyboards img {
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.section-two .keyboards > * {
  overflow: hidden;
  flex-grow: 1;
}
.section-two .keyboards .phone-keyboard {
  border-radius: 0 1rem 1rem 0;
  background-color: #f16718;
}
.section-two .keyboards .phone-keyboard img {
  mix-blend-mode: multiply;
}
.section-two .keyboards .glass-keyboard {
  margin-left: 1.5rem;
  border-radius: 1rem;
}
@media (min-width: 48em) {
  .section-two .keyboards {
    margin-left: 0;
    grid-area: 1/1/2/-1;
  }
  .section-two .keyboards .phone-keyboard {
    border-radius: 1rem;
  }
  .section-two .keyboards .phone-keyboard img {
    content: url("/assets/tablet/image-phone-and-keyboard.jpg");
  }
  .section-two .keyboards .glass-keyboard img {
    content: url("/assets/tablet/image-glass-and-keyboard.jpg");
  }
}
@media (min-width: 64em) {
  .section-two .keyboards {
    max-height: none;
    grid-area: 1/1/-1/2;
  }
  .section-two .keyboards .phone-keyboard img {
    content: url("/assets/desktop/image-phone-and-keyboard.jpg");
  }
  .section-two .keyboards .glass-keyboard img {
    content: url("/assets/desktop/image-glass-and-keyboard.jpg");
  }
}
.section-two .title {
  margin-top: 4.6875rem;
}
@media (min-width: 48em) {
  .section-two .title {
    margin-top: 0;
    padding: 4.6875rem 0;
    grid-area: 2/1/3/2;
    align-self: center;
  }
}
@media (min-width: 64em) {
  .section-two .title {
    padding-bottom: 0;
    padding-left: 3.4375rem;
    grid-area: 1/2/2/3;
  }
}
.section-two .desc {
  margin: 1.5rem 0;
}
@media (min-width: 48em) {
  .section-two .desc {
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: center;
  }
}
@media (min-width: 64em) {
  .section-two .desc {
    padding-left: 3.4375rem;
    grid-area: 2/2/3/3;
    align-self: flex-start;
  }
}
@media (min-width: 48em) {
  .section-two {
    display: grid;
    grid-template-columns: 3.33fr 6.66fr;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 0 4.6875rem;
  }
}
@media (min-width: 64em) {
  .section-two {
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 240px 240px;
  }
}

.section-three {
  display: grid;
  gap: 4rem;
  margin-top: 6.9375rem;
}
.section-three .card figure {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 1rem;
  width: 4.0625rem;
  height: 4.0625rem;
  background-color: #f16718;
}
.section-three .card h3 {
  margin-top: 3rem;
}
.section-three .card p {
  margin-top: 1.75rem;
}
@media (min-width: 48em) {
  .section-three {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    margin-top: 4.375rem;
    gap: 3.5rem;
  }
  .section-three .card {
    margin: 0;
  }
  .section-three .card figure {
    margin: 0;
  }
}
@media (min-width: 64em) {
  .section-three {
    margin-top: 9rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    gap: 2rem;
  }
}

.footer {
  margin-top: 5.5rem;
  padding: 3.125rem 0;
  text-align: center;
}
.footer b {
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */