@use "../base/" as *;

.carousel {
	position: relative;
	height: min(96vw, 530px);

	.hero {
		margin: 0;
		max-width: none;
		width: 100%;
		max-height: 530px;
		object-fit: cover;
		object-position: bottom center;
	}

	&-btns {
		position: absolute;
		bottom: 0;
		right: 0;
		width: clamp(112px, 20vw, 160px);
		height: clamp(56px, 10vw, 80px);

		@include flex(row, c);
		button {
			width: 50%;
			height: 100%;
			@include flex(row, c, c);
			background-color: black;
			img {
				width: 15%;
			}
		}
	}
	@include breakpoint-up(medium) {
		height: min(63.57vw, 530px);
	}
	@include breakpoint-up(large) {
		grid-area: 1 / 1 / 2 / 2;
		height: min(37.06vw, 530px);
		&-btns {
			left: 100%;
			right: auto;
			width: clamp(112px, 9.73vw, 160px);
			height: clamp(56px, 4.87vw, 80px);
		}
	}
}
