/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* CENTER OVERFLOW */
/* PSEUDO ELEMENT */
/* BACKGROUND  */
/* TRANSITIONS */
.container {
  margin-left: auto;
  margin-right: auto;
  width: min(88%, 1100px);
}

.text-center {
  text-align: center;
}

.sweepfromSide {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.sweepfromLevel {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

:root {
  --fs-100: 0.75rem;
  --fs-200: 0.8125rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
}
@media (min-width: 48em) {
  :root {
    --fs-h1: clamp(2.5rem, 5.2vw, 4.5rem);
  }
}
@media (min-width: 64em) {
  :root {
    --fs-700: 2rem;
  }
}

.flow-top > * + * {
  margin-top: var(--sep-top, 1rem);
}

.flow-right > * + * {
  margin-right: var(--sep-right, 1rem);
}

.flow-bot > * + * {
  margin-bottom: var(--sep-bot, 1rem);
}

.flow-left > * + * {
  margin-left: var(--sep-left, 1rem);
}

.flow-left > * + * {
  margin-left: var(--sep-left, 1rem);
}

/* Box sizing rules, removing default padding and margins */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style-type: none;
}

/* a elements no text decor */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img, svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
a,
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  font-family: "Alata", sans-serif;
  font-size: var(--fs-300);
  color: #8c8c8c;
  text-align: center;
}
@media (min-width: 48em) {
  body {
    overflow: visible !important;
  }
}
@media (min-width: 64em) {
  body {
    text-align: left;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

@media (min-width: 48em) {
  .nav-menu a,
.more a {
    position: relative;
  }
  .nav-menu a::after,
.more a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    top: 110%;
    height: 2px;
    background-color: white;
    transition: right 0.3s ease;
  }
  .nav-menu a:hover::after,
.more a:hover::after {
    right: 0;
  }
}

.logo {
  max-height: 1.5rem;
}

.header {
  position: relative;
  background: url(/images/mobile/image-hero.jpg) no-repeat center center/cover;
}
@media (min-width: 64em) {
  .header {
    background: url(/images/desktop/image-hero.jpg) no-repeat center center/cover;
  }
}
.header .container {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  position: relative;
  height: 41.75rem;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  position: relative;
  z-index: 100;
  margin: 0;
}
.nav-menu a {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
@media (max-width: 47.9375em) {
  .nav-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2rem);
    transition: visibility 0.3s ease-in, opacity 0.3s ease-in, transform 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-left: -6%;
    padding: 0 6%;
    font-size: 1.5rem;
    background-color: black;
  }
  .nav-menu > * + * {
    margin-top: 1.5rem;
  }
}
@media (min-width: 48em) {
  .nav-menu {
    display: flex;
    flex-direction: row;
  }
  .nav-menu > * + * {
    margin-left: 1.5rem;
  }
}
.nav-open, .nav-close {
  position: relative;
  z-index: 100;
  transition: transform 0.3s ease-in;
}
@media (min-width: 48em) {
  .nav-open, .nav-close {
    display: none;
  }
}
.nav-close {
  position: absolute;
  right: 0;
  transform: scale(0);
}
.nav.show .nav-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.nav.show .nav-open {
  transform: scale(0);
}
.nav.show .nav-close {
  transform: scale(1);
}

.header-section {
  text-align: left;
  width: min(100%, 650px);
}
.header-section h1 {
  color: white;
  letter-spacing: 1px;
  padding: 1.25rem;
  padding-bottom: 0.75rem;
  border: solid 0.125rem white;
}

.section-one {
  padding: clamp(90px, 12.3vw, 160px) 0;
}

@media (max-width: 63.9375em) {
  .intro .info {
    margin-top: 2.5rem;
  }
  .intro .info > p {
    padding: 1.5rem;
  }
}
@media (min-width: 64em) {
  .intro {
    display: grid;
    align-items: flex-end;
    grid-auto-flow: column;
    grid-auto-columns: 5.1fr 1.45fr 3.4fr;
  }
  .intro > img {
    width: 100%;
    grid-area: 1/1/2/3;
  }
  .intro .info {
    z-index: 1;
    grid-area: 1/2/2/4;
    background-color: white;
    padding-top: min(6.6vw, 96px);
    padding-left: min(6.6vw, 96px);
  }
  .intro .info > p {
    margin-top: 2rem;
  }
}

.section-two > .content .seeall {
  margin-top: 2rem;
  padding: 0.8125rem 2.375rem;
  width: min(100%, 160px);
  color: black;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  border: solid 1px black;
  transition: background-color 0.3s ease, color 0.3s linear;
}
.section-two > .content .seeall:hover {
  color: white;
  background-color: black;
}
@media (min-width: 48em) {
  .section-two > .content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .section-two > .content > h2 {
    margin-top: 0.75rem;
    text-align: left;
    grid-area: 1/1/2/2;
  }
  .section-two > .content .seeall {
    margin-top: 0;
    justify-self: flex-end;
    grid-area: 1/2/2/-1;
  }
  .section-two > .content .creations {
    grid-area: 2/1/-1/-1;
  }
}

.creations {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  gap: 1.5rem;
}
.creations .creation {
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.63), white 73.3%);
  cursor: pointer;
}
.creations .creation > p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  line-height: 1.2;
  text-align: left;
  color: white;
  font-size: var(--fs-700);
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.creations .creation img {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  mix-blend-mode: multiply;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.creations .creation:hover {
  background: none;
}
.creations .creation:hover > p {
  color: black;
}
.creations .creation:hover img {
  opacity: 0.4;
  transform: scale(1.05);
}
@media (min-width: 64em) {
  .creations {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
  .creations .creation > p {
    bottom: 2rem;
    left: 2.5rem;
  }
}

.footer {
  margin-top: clamp(90px, 13vw, 180px);
  padding: 3.5rem 0;
  background-color: black;
}

.footer-content .more {
  padding: 2rem 0 2.75rem;
}
.footer-content .more > * + * {
  margin-top: 1.5rem;
}
.footer-content .more a {
  color: white;
  text-transform: capitalize;
}
.footer-content .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-content .socials > * + * {
  margin-left: 1rem;
}
.footer-content .socials a {
  transition: transform 0.3s ease;
}
.footer-content .socials a:hover {
  transform: scale(1.2);
}
.footer-content .copyright {
  margin-top: 1.5rem;
}
@media (min-width: 48em) {
  .footer-content {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  .footer-content .logo {
    grid-area: 1/1/2/2;
    margin: 0;
  }
  .footer-content .socials {
    grid-area: 1/2/2/3;
    justify-content: flex-end;
  }
  .footer-content .more {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }
  .footer-content .more > * + * {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  .footer-content .copyright {
    grid-area: 2/2/3/3;
    margin: 0;
    text-align: right;
  }
}/*# sourceMappingURL=main.css.map */