@use "../base/" as *;

.search-form,
.bio {
	background-color: var(--bg2);
	border-radius: 1.25rem;

	-webkit-box-shadow: 0px 10px 22px -7px var(--shadow);
	box-shadow: 0px 10px 22px -7px var(--shadow);
}
body,
.stats {
	background-color: var(--bg1);
}

.header {
	padding: 2rem 0;
}
.header-content {
	@include flex(row, c, sb);

	.dark-toggle {
		@include flex(row, c);
		cursor: pointer;

		color: var(--text);
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;

		input {
			display: none;
		}

		svg {
			margin-left: 0.8125rem;
		}

		&:hover {
			opacity: 0.5;
		}
	}
}
.search-form {
	position: relative;
	@include flex(row, c);
	padding: 0.375rem 0.375rem 0.375rem clamp(0.75rem, 3vw, 2rem);

	img {
		margin: 0;
	}
	input {
		padding: 0.5rem 0.5rem 0.5rem clamp(0.375rem, 1.5vw, 1.5rem);
		width: 100%;

		color: var(--text);
		&::placeholder {
			color: var(--text);
		}
	}

	button {
		margin-left: auto;
		padding: 0.875rem 1.125rem;
		background-color: var(--search);
		color: white;
		font-weight: bold;
		border-radius: 0.75rem;
	}
	.error {
		visibility: hidden;
		flex-shrink: 0;
		margin-right: 1.5rem;
		width: max-content;
		color: red;
		font-weight: bold;

		@include breakpoint-down(medium) {
			position: absolute;
			top: 95%;
			left: 1rem;
		}
		&.show {
			visibility: visible;
		}
	}
}

.bio {
	position: relative;
	margin-top: 1.5rem;
	padding: 1.5rem;

	.loading {
		border-radius: inherit;
		pointer-events: all;
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 100%;
		background-color: rgba(var(--r), var(--g), var(--b), 0.2);

		animation: fading 1.4s linear infinite;
		@include grid(c, c);

		@keyframes fading {
			0% {
				background-color: rgba(var(--r), var(--g), var(--b), 0.2);
			}
			50% {
				background-color: rgba(var(--r), var(--g), var(--b), 0.1);
			}
			100% {
				background-color: rgba(var(--r), var(--g), var(--b), 0.2);
			}
		}

		.spinner {
			position: relative;
			width: 3rem;
			height: 3rem;

			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: 8px solid transparent;
				border-top: 8px solid rgba(190, 144, 212, 1);
				border-bottom: 1px solid rgba(190, 144, 212, 1);
				animation: spinner 1.4s linear infinite;
			}

			@keyframes spinner {
				0% {
					transform: rotate(0deg);
					border-top-width: 8px;
					border-bottom-width: 1px;
				}
				50% {
					transform: rotate(180deg);
					border-top-width: 1px;
					border-bottom-width: 8px;
				}
				100% {
					transform: rotate(360deg);
					border-top-width: 8px;
					border-bottom-width: 1px;
				}
			}
		}
	}

	@include grid(c, fs);
	grid-template-areas:
		"avatar profile"
		"bio bio"
		"stats stats"
		"about about";
	grid-template-columns: 0.26fr 0.74fr;
	grid-template-rows: repeat(4, auto);
	gap: 1.75rem 1rem;

	@include breakpoint-up(medium) {
		padding: 2.5rem;
		grid-template-areas:
			"avatar profile"
			"avatar bio"
			". stats"
			". about";
		grid-template-columns: 17% 1fr;
		gap: 2rem;
	}

	.avatar {
		grid-area: avatar;
		margin: 0;
		max-height: toRem(100);
		border-radius: 50%;

		@include breakpoint-up(medium) {
			align-self: flex-start;
			max-height: none;
		}
	}

	.profile {
		grid-area: profile;
		a {
			margin-top: 0.25rem;
			color: var(--search);
		}

		@include breakpoint-up(medium) {
			align-self: flex-start;
			width: 100%;
			position: relative;
			> p {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	.userbio {
		grid-area: bio;
		@include breakpoint-up(medium) {
			margin-top: -1.5rem;
		}
	}
	.stats {
		grid-area: stats;
		@include flex(row, c, sb);
		padding: 1rem 0rem 0.875rem;
		width: 100%;
		text-align: center;
		border-radius: 0.5rem;

		li {
			width: 33.3%;
			> p {
				font-size: var(--fs-100);

				> b {
					display: block;
					color: var(--bold);
					font-size: var(--fs-400);
				}
			}
		}
		@include breakpoint-up(medium) {
			padding: 1rem 2rem 0.875rem;
			text-align: left;
			li {
				width: max-content;
			}
		}
	}
	.about {
		grid-area: about;
		width: 100%;
		text-align: left;

		@include grid();
		gap: 0.75rem;

		> li {
			@include grid(c, fs);
			grid-auto-flow: column;
			grid-auto-columns: 20px 1fr;
			gap: 1rem;
			> img {
				margin: 0;
			}
		}

		@include breakpoint-up(medium) {
			@include flex(row);
			flex-wrap: wrap;
			> li {
				// width: 48%;
				flex-basis: 48%;
			}

			.twitter {
				order: 2;
			}
			.blog {
				order: 3;
			}
			.company {
				order: 4;
			}
		}

		.unknown {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
