/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* PSEUDO ELEMENT */
/* BACKGROUND  */
/* TRANSITIONS */
.container {
  margin-left: auto;
  margin-right: auto;
  width: min(90%, 1100px);
}

.text-center {
  text-align: center;
}

.sweepfromSide {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.sweepfromLevel {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

:root {
  --fs-100: .75rem;
  --fs-200: .8125rem;
  --fs-300: .9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3.75rem;
  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.75rem;
}
@media (min-width: 48em) {
  :root {
    --fs-900: clamp(3.75rem, 5.85vw, 6rem);
    --fs-h1: clamp(1.5rem, 2.4vw, 3rem);
    --fs-h2: clamp(1.25rem, 1.95vw, 2.5rem);
  }
}
/* Box sizing rules, removing default padding and margins */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style-type: none;
}

/* a elements no text decor */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
a,
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: var(--fs-400);
  text-align: center;
}
@media (min-width: 48em) {
  body {
    overflow: visible !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.getstarted {
  margin-top: 2.5rem;
  padding: 0.75rem 2.25rem;
  color: white;
  font-weight: bold;
  background-color: #ff52bf;
  border-radius: 4rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 6px 20px -6px rgba(255, 82, 191, 0.85);
}
.getstarted:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.nav {
  padding-top: clamp(16px, 5.5vw, 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav.container {
  width: min(90%, 1300px);
}
.nav > img {
  max-height: clamp(16px, 3.2vw, 40px);
}
.nav > a {
  padding: 0.3125rem 1.125rem;
  font-size: clamp(10px, 2vw,16px);
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 4rem;
}

.intro {
  margin-top: 7rem;
}
.intro.container {
  width: min(85%, 1020px);
}
.intro > p {
  margin-top: 2rem;
}
.intro > img {
  margin-top: 6.25rem;
}

.stats.container {
  width: min(60%, 880px);
}
@media (min-width: 48em) {
  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .stats.container {
    width: min(90%, 880px);
  }
}
.stats-card {
  margin-top: 6.25rem;
  width: max-content;
}
@media (max-width: 63.9375em) {
  .stats-card {
    margin-left: auto;
    margin-right: auto;
  }
}
.stats-card p {
  color: #808e9a;
}
.stats-card p > b {
  position: relative;
  display: block;
  font-size: var(--fs-900);
  color: #00252e;
}
.stats-card p > b::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 100%;
  width: clamp(33px, 3.5vw, 56px);
  height: clamp(33px, 3.5vw, 56px);
}
.stats-card p > b.communities::before {
  background: url(/images/icon-communities.svg) no-repeat center center/100%;
}
.stats-card p > b.messages::before {
  background: url(/images/icon-messages.svg) no-repeat center center/100%;
}

.features > img {
  width: 100%;
}
@media (max-width: 63.9375em) {
  .features .feature-h {
    margin-top: 4.5rem;
  }
}
.features .feature-desc {
  margin-top: 1.75rem;
}
@media (min-width: 64em) {
  .features .feature {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 3rem;
    text-align: left;
  }
}
.features .flow {
  padding: 7.5rem 0;
}
.features .grow,
.features .your {
  position: relative;
  background-color: #f5faff;
}
.features .grow::before, .features .grow::after,
.features .your::before,
.features .your::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.features .grow::before,
.features .your::before {
  top: 0;
}
.features .grow::after,
.features .your::after {
  bottom: 0;
}
@media (min-width: 64em) {
  .features .grow > img,
.features .your > img {
    grid-column: 2/3;
  }
  .features .grow .feature-content,
.features .your .feature-content {
    grid-column: 1/2;
  }
}
.features .grow {
  padding-top: calc((100vw / 3.34) + 4.75rem);
  padding-bottom: calc((100vw / 7.21) + 4.75rem);
}
.features .grow::before {
  height: calc(100vw / 3.34);
  background-image: url(/images/bg-section-top-mobile-1.svg);
}
.features .grow::after {
  height: calc(100vw / 7.21);
  background-image: url(/images/bg-section-bottom-mobile-1.svg);
}
@media (min-width: 64em) {
  .features .grow {
    padding-top: calc((100vw / 8.72) + 4.75rem);
    padding-bottom: calc((100vw / 10.35) + 4.75rem);
  }
  .features .grow::before {
    height: calc(100vw / 8.72);
    background-image: url(/images/bg-section-top-desktop-1.svg);
  }
  .features .grow::after {
    height: calc(100vw / 10.35);
    background-image: url(/images/bg-section-bottom-desktop-1.svg);
  }
}
.features .your {
  padding-top: calc((100vw / 3.64) + 2rem);
  padding-bottom: calc((100vw / 3.71) + 7rem);
}
.features .your::before {
  height: calc(100vw / 3.64);
  background-image: url(/images/bg-section-top-mobile-2.svg);
}
.features .your::after {
  height: calc(100vw / 3.71);
  background-image: url(/images/bg-section-bottom-mobile-2.svg);
}
@media (min-width: 64em) {
  .features .your {
    padding-top: calc((100vw / 9.2) + 2rem);
    padding-bottom: calc((100vw / 10.35) + 7rem);
  }
  .features .your::before {
    height: calc(100vw / 9.2);
    background-image: url(/images/bg-section-top-desktop-2.svg);
  }
  .features .your::after {
    height: calc(100vw / 10.35);
    background-image: url(/images/bg-section-bottom-desktop-2.svg);
  }
}

.ready {
  padding: 7.8125rem 0;
}
@media (min-width: 64em) {
  .ready {
    padding: 10.9375rem 0;
  }
}

.footer {
  margin-top: -2px;
  padding: 3.75rem 0;
  color: white;
  background-color: #00252e;
  text-align: left;
}
.footer-content {
  display: grid;
  grid-auto-flow: row;
  gap: 5.625rem;
}
@media (min-width: 64em) {
  .footer-content {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .footer-content .newsletter {
    grid-column: 2/3;
  }
  .footer-content .moreinfo {
    grid-column: 1/2;
  }
}
.footer-content .newsletter > b {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}
.footer-content .newsletter > p {
  margin-top: 1.5rem;
}
.footer-content .newsletter .subscribe input[type=text] {
  margin-top: 1.5rem;
  padding: 0.75rem;
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.footer-content .newsletter .subscribe input[type=text]:placeholder {
  font-family: inherit;
  color: lightgray;
}
.footer-content .newsletter .subscribe > button[type=submit] {
  text-align: right;
  margin-top: 0.75rem;
  width: 10rem;
  padding: 0.75rem 2.5rem;
  border-radius: 0.25rem;
}
.footer-content .moreinfo > img {
  max-height: 2rem;
}
.footer-content .moreinfo .desc {
  margin-top: 2rem;
}
.footer-content .moreinfo .phone, .footer-content .moreinfo .email {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-content .moreinfo .phone::before, .footer-content .moreinfo .email::before {
  font-size: 0;
  line-height: 0;
  margin-right: 1rem;
}
.footer-content .moreinfo .phone {
  margin-top: 2.5rem;
}
.footer-content .moreinfo .phone::before {
  content: url(/images/icon-phone.svg);
}
.footer-content .moreinfo .email {
  margin-top: 1.5rem;
}
.footer-content .moreinfo .email::before {
  content: url(/images/icon-email.svg);
}
.footer-content .moreinfo .socials {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.footer-content .moreinfo .socials > * + * {
  margin-left: 1rem;
}
.footer-content .moreinfo .socials a {
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.footer-content .moreinfo .socials a > svg > path {
  transition: fill 0.3s ease;
}
.footer-content .moreinfo .socials a:hover {
  transform: scale(1.15);
  opacity: 1;
}
.footer-content .moreinfo .socials a:hover > svg > path {
  fill: #00C7FA;
}/*# sourceMappingURL=main.css.map */