.container{
    // margin: 0 toRem(24);
    @include center-auto;
    width: 90%;
    max-width: 730px;
    
    @include breakpoint-up(medium){
    }
}

.text-center{
    text-align: center;
}

.sweepfromSide{
    @include sweepfromSide;
}
.sweepfromLevel{
    @include sweepfromLevel;
}

.overlay, .pledge-overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    
    transition: visibility .3s ease, background-color .3s ease;
    visibility: hidden;
    background-color: rgba(0,0,0,0);

    &.show{
        pointer-events: all;
        visibility: visible;
        background-color: rgba(0,0,0, .3);
    }
}

.pledge-overlay{
    z-index: 7;
}