.container{
    @include center-auto;
    padding: 0 toRem(24);
    
    max-width: 1184px;
   
}

.text-center{
    text-align: center;
}


.sweepfromSide{
    @include sweepfromSide;
}
.sweepfromLevel{
    @include sweepfromLevel;
}
