.container{
    position: relative;
    width: 100%;
    max-width: 1400px;
    @include breakpoint-down(large){
        width: 80%;
    }

    .header{
        width: 100%;
        img{
            height: 32.5px;
        }
        @include breakpoint-up(large){
            img{
                height: 43.5px;
            }
        }
    }

    .main{
        width: 100%;
        margin-top: 4.375rem;
        @include grid(center, center);
        
        @include breakpoint-up(large){
            @include flex(row, flex-start, space-between);
        }
        .hero{
            @include breakpoint-up(large){
                width: 53%;
            }
        }
        .content{
            @include breakpoint-down(large){
                margin-top: 4.375rem;
                max-width: 600px;
            }
            @include breakpoint-up(large){
                margin-top: 2rem;
                width: 43%;
                max-width: 505px;
            }

            p{
                padding: 2rem 0;
            }
            
            button{
                font-family: inherit;
                font-size: .9375rem;
                height: 3rem;
                width: 200px;
                color: $Violet;
                border: none;
                border-radius: 2rem;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
                outline: none;
                background-color: white;

                &:hover{
                    background-color: $Soft-Magenta;
                    border-color: $Soft-Magenta;
                    color: white;
                }
            }
        }
    }

    .footer{
        margin-top: 4rem;
        .socials{
            @include flex(row, center, center);
            
            @include breakpoint-up(large){
                justify-content: flex-end;
            }
        }

    }

}