body{
    font-family: $ff-primary;
    font-size: var(--fs-400);
    position: relative;
    padding-top: 1px;
}


.main-container{
    padding: 3rem 0;
    background: url("/images/pattern-curve.svg") no-repeat;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100%;
    @include breakpoint-up(medium){
        padding: none;
        @include grid(c,c);
        height: toRem(700);
        background-size: auto;
    }
}
// .attribution{
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
// }