.container{
    @include center-auto;
    width: 90%;
    max-width: 1200px;
    @include breakpoint-down(medium){
        max-width: 500px;
    }
}

.text-center{
    text-align: center;
}


.sweepfromSide{
    @include sweepfromSide;
}
.sweepoutLeft{
    @include sweepoutSide(-30%);
}
.sweepoutRight{
    @include sweepoutSide(30%);
}

.sweepfromLevel{
    @include sweepfromLevel;
}
.sweeoutTop{
    @include sweepoutLevel(-30%);
}
.sweeoutBottom{
    @include sweepoutLevel(30%);
}