.container{
    @include center-auto;
    width: 90%;
    max-width: 1200px;
    @include breakpoint-down(medium){
        max-width: 500px;
    }
}

.text-center{
    text-align: center;
}

.disappear{
    transform: translateX(-30%);
    opacity: 0;
}

.appear{
    transform: translateX(0);
    opacity: 1;  
}