@use "../../base/" as *;

.background {
	position: fixed;
	z-index: -1;
	top: 76px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $background;
	overflow: hidden;
	@include breakpoint-up(medium) {
		top: 165px;
	}
	@include breakpoint-up(large) {
		top: 71px;
	}
}

.sky {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.star {
		position: absolute;
	}

	&-comet {
		height: 100vw;
		transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
	}
	.comet {
		position: absolute;
		height: 2px;
		background: linear-gradient(-45deg, white, black);
		filter: drop-shadow(0 0 6px white);
	}
}
