@use "../base/" as *;

.section-one {
	position: relative;
	color: white;
	background-color: $clr-primary-700;

	.left,
	.right {
		position: absolute;
	}
	.left {
		width: unquote("min(50%, 275px)");
		// inset: calc(100vw / 0.83) auto auto 0;
		top: calc(100vw / 0.83);
		left: 0;
	}
	.right {
		width: unquote("min(33%, 140px)");
		// inset: auto 0 0 auto;
		right: 0;
		bottom: 0;
		transform: translateY(50%);
	}

	@include breakpoint-btwn(medium, large) {
		.left,
		.right {
			display: none;
		}
	}
	@include breakpoint-up(large) {
		.left {
			content: url(/images/bg-pattern-intro-left-desktop.svg);
			top: 65%;
			width: unquote("min(13%, 200px)");
		}
		.right {
			z-index: 1;
			content: url(/images/bg-pattern-intro-right-desktop.svg);
			// inset: 0 0 auto auto;
			top: 0;
			right: 0;
			width: unquote("min(30%, 385px)");
			transform: translate(0);
		}
	}

	.content {
		position: relative;
		.hero {
			margin: 0 -5vw;
			img {
				width: 100%;
			}
		}

		.humanizing {
			position: relative;
			padding: toRem(92) 0;

			h1 {
			}
			p {
				margin-top: 1rem;
			}
		}

		@include breakpoint-up(medium) {
			@include flex(row, c, sb);
			.hero,
			.humanizing {
				width: 100%;
			}

			.hero {
				margin: 0 -5vw 0 1rem;
				order: 2;
				> img {
					content: url(/images/image-intro-desktop.jpg);
				}
			}
			.humanizing {
				order: 1;
				padding: 0;
			}
		}
		@include breakpoint-up(large) {
			.hero {
				margin: 0 0 0 1.5rem;
				transform: translateY(100px);
			}
			.humanizing {
				&::before {
					content: "";
					position: absolute;
					// inset: 0;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

					margin-top: -3rem;
					width: toRem(150);
					height: 1px;
					background-color: white;
				}
			}
		}
	}
}
