@use "./root" as *;
@use "./mixins" as *;

body {
	position: relative;
	font-family: $ff-primary;
	font-size: var(--fs-200);

	color: var(--text);
	@include breakpoint-up(medium) {
		text-align: left;
		overflow: visible !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--bold);
	line-height: 1.1;
}

h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}
