.intro{
    width: 100%;
    text-align: center;
    @include breakpoint-up(large){
        text-align: left;
        flex: 50%;
        width: 50%;
        max-width: 500px;
        
        h1{
            font-size: 3rem;
            padding: 0 0 0 0 !important;
            line-height: 1.3;
        }
    }
    h1, p{
        color: white;

    }
    h1{
        padding: 0 2rem;
    }

    p{
        margin-top: 2rem;
    }
}