/** RESET **/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** BASE **/
body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  line-height: 1.6;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: url("/images/bg-intro-mobile.png"), -webkit-gradient(linear, left top, left bottom, from(#ff7a7a), to(#ff7a7a)) no-repeat;
  background: url("/images/bg-intro-mobile.png"), linear-gradient(to bottom, #ff7a7a, #ff7a7a) no-repeat;
}

@media (min-width: 64em) {
  body {
    padding-block: 5rem;
    background: url("/images/bg-intro-desktop.png"), -webkit-gradient(linear, left top, left bottom, from(#ff7a7a), to(#ff7a7a)) no-repeat;
    background: url("/images/bg-intro-desktop.png"), linear-gradient(to bottom, #ff7a7a, #ff7a7a) no-repeat;
  }
}

.container {
  text-align: center;
  width: 90%;
}

@media (max-width: 63.9375em) {
  .container {
    padding-block: 6.125rem;
    max-width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 64em) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

input, button {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 100%;
  color: #3e3c49;
  outline: none;
  border-radius: 8px;
}

input {
  padding: 1.5rem 1.125rem;
  font-weight: 500;
  border: solid 1px lightgray;
}

input:focus {
  border-color: #3e3c49;
  color: #3e3c49;
}

button {
  padding-block: 1.375rem calc(1.25rem - 2px);
  background-color: #38cc8c;
  color: white;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: .05rem;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid green;
}

.intro {
  width: 100%;
  text-align: center;
}

@media (min-width: 64em) {
  .intro {
    text-align: left;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    width: 50%;
    max-width: 500px;
  }
  .intro h1 {
    font-size: 3rem;
    padding: 0 0 0 0 !important;
    line-height: 1.3;
  }
}

.intro h1, .intro p {
  color: white;
}

.intro h1 {
  padding: 0 2rem;
}

.intro p {
  margin-top: 2rem;
}

.form-section {
  margin-top: 4.25rem;
}

@media (min-width: 64em) {
  .form-section {
    margin-top: 0;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    width: 50%;
    max-width: 540px;
  }
}

.form-section .free-trial-info {
  text-align: center;
  color: white;
  width: 100%;
  padding-block: 1.5rem;
  background: #6055a5;
  border-radius: 8px;
  -webkit-box-shadow: 0 0.5rem 2px 0 #3e3c493b;
          box-shadow: 0 0.5rem 2px 0 #3e3c493b;
}

@media (min-width: 64em) {
  .form-section .free-trial-info br {
    text-align: left;
    display: none;
  }
}

.form-section .form {
  -webkit-box-shadow: 0 0.5rem 2px 0 #3e3c493b;
          box-shadow: 0 0.5rem 2px 0 #3e3c493b;
  margin-top: 1.25rem;
  padding: 1.5rem;
  background: white;
  border-radius: 8px;
}

@media (min-width: 64em) {
  .form-section .form {
    padding-block: 2.5rem;
  }
}

.form-section .form .input-holder:not(:first-child) {
  margin-top: 1rem;
}

.form-section .form .input-holder .input {
  position: relative;
  height: 55px;
}

.form-section .form .input-holder .input .error {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-section .form .input-holder .error-msg {
  visibility: hidden;
  padding-right: 1rem;
  color: #ff7a7a;
  text-align: right;
  font-size: 0.625rem;
  font-style: italic;
  content: "hey";
}

.form-section .form .terms {
  margin-top: 1rem;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  color: #b9b6d3;
}

.form-section .form .terms strong {
  color: #ff7a7a;
}

.error-effect .input input {
  color: #ff7a7a;
  border: 2px solid #ff7a7a;
}

.error-effect .input .error {
  visibility: visible !important;
}

.error-effect .error-msg {
  visibility: visible !important;
}
/*# sourceMappingURL=styles.css.map */