/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* PSEUDO ELEMENT */
/* BACKGROUND  */
/* TRANSITIONS */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  max-width: 925px;
}

.text-center {
  text-align: center;
}

.attribution {
  padding: 6rem 0 4rem;
  font-size: 11px;
  font-family: inherit;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

.sweepfromSide {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.sweepfromLevel {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

:root {
  --fs-400: 1rem;
  --fs-700: 1.5rem;
  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
}
@media (min-width: 64em) {
  :root {
    --fs-h1: 3.5rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  font-family: "Space Mono", monospace;
  font-size: var(--fs-400);
  background-color: #c5e4e7;
  border-top: 1px solid #c5e4e7;
}

figure {
  display: grid;
  justify-items: center;
}

label {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}

button, input {
  border-radius: 0.25rem;
  font-size: var(--fs-700);
  font-weight: 700;
}

input {
  padding: 1.125rem 1.125rem 1.125rem 2.25rem;
  width: 100%;
  height: 3rem;
  background-color: #f4fafa;
  text-align: right;
}
input::placeholder {
  opacity: 0.5;
  color: #5e7a7d;
}
input:focus {
  color: #00494d;
  outline: solid 2px #26c0ab;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin-bottom: 0.75rem;
  color: #5e7a7d;
  font-weight: 700;
}

.header {
  margin: 2.75rem 0;
}
@media (min-width: 48em) {
  .header {
    margin: 9.375rem 0 5.75rem;
  }
}

.Bill label {
  position: relative;
}
.Bill label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.0625rem;
  width: 1.0625rem;
  background: url("../../../images/icon-dollar.svg") no-repeat center;
}

.count_input label {
  position: relative;
}
.count_input label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.0625rem;
  width: 1.0625rem;
  background: url("../../../images/icon-person.svg") no-repeat center;
}

.tip {
  margin: 2rem 0;
}
.tip button {
  color: white;
  background-color: #00494d;
  width: 100%;
  height: 3rem;
}
.tip input {
  padding-left: 0;
}
.tip .select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
@media (min-width: 48em) {
  .tip .select {
    grid-template-rows: none;
    grid-template-columns: repeat(auto-fit, minmax(7.3125rem, 1fr));
  }
}

.tip_amt {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  gap: 2rem;
  padding: 2.875rem 2rem 2rem;
  background-color: #00494d;
  border-radius: 1rem;
}
.tip_amt p {
  color: #7f9c9f;
  font-weight: 400;
  margin: 0;
}
.tip_amt p b {
  color: white;
}
.tip_amt p:nth-child(even) {
  margin-top: -6px;
  justify-self: flex-end;
  font-size: 2rem;
  font-weight: 700;
  color: #26c0ab;
}
@media (min-width: 48em) {
  .tip_amt p:nth-child(even) {
    font-size: clamp(2rem, 3.1vw, 2.875rem);
  }
}
.tip_amt button {
  padding: 0.75rem;
  grid-area: 3/1/-1/-1;
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #00494d;
  background-color: #26c0ab;
}
.tip_amt button:disabled {
  cursor: not-allowed;
  background-color: #26c0ab;
  opacity: 0.2;
}
@media (min-width: 48em) {
  .tip_amt {
    height: 100%;
  }
}

.tip_calc {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem 0;
}
@media (min-width: 48em) {
  .tip_calc {
    display: flex;
  }
}
.tip_calc .selection {
  width: 100%;
}
@media (min-width: 48em) {
  .tip_calc .selection {
    padding: 1rem 3rem;
  }
}
.tip_calc .display {
  width: 100%;
  margin-top: 2.5rem;
}
@media (min-width: 48em) {
  .tip_calc .display {
    padding-left: 0;
    margin-top: 0;
  }
}/*# sourceMappingURL=main.css.map */