@use "./mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

:root {
	--fs-100: clamp(0.5625rem, 1.4vw, 0.6875rem);
	--fs-200: clamp(0.6875rem, 1.8vw, 0.9375rem);
	--fs-300: clamp(0.8125rem, 2vw, 1.0625rem);
	--fs-400: clamp(0.75rem, 1.3vw, 1rem);
	--fs-500: clamp(0.9375rem, 2.3vw, 1.25rem);
	--fs-600: 1.25rem;
	--fs-700: 1.5rem;
	--fs-800: 2rem;
	--fs-900: clamp(6.25rem, 22vw, 12.5rem);

	--fs-h1: clamp(1.75rem, 4vw, 2.5rem);
	--fs-h2: clamp(1.5rem, 2.8vw, 2rem);
	--fs-h3: clamp(1.25rem, 2.1vw, 1.5rem);

	@include breakpoint-up(large) {
		--fs-h1: clamp(1.75rem, 2.35vw, 2.5rem);
	}
}

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);

$ff-primary: "Spartan", sans-serif;

$br-xxs: 0.25rem;
$br-xs: 0.5rem;
$br-s: 1rem;
$br-m: 2rem;
$br-l: 4rem;
$br-xl: 8rem;
