/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* PSEUDO ELEMENT */
/* BACKGROUND  */
/* TRANSITIONS */
.container {
  margin-left: auto;
  margin-right: auto;
  width: min(90%, 1100px);
}

.text-center {
  text-align: center;
}

.sweepfromSide {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.sweepfromLevel {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

:root {
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.75rem;
}
@media (min-width: 48em) {
  :root {
    --fs-h1: clamp(3rem, 6.25vw, 4.5rem);
    --fs-h2: clamp(2.5rem, 5.2vw, 3.5rem);
  }
}
/* Box sizing rules, removing default padding and margins */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a {
  display: inline-block;
  text-decoration: none;
}

/* Make images easier to work with */
img, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  font-family: "Karla", sans-serif;
  font-size: var(--fs-400);
  text-align: center;
}
@media (min-width: 48em) {
  body {
    text-align: left;
    overflow: visible !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  color: white;
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.nav-menu a:not(.plans) {
  transition: color 0.3s ease;
}
.nav-menu a:not(.plans):hover, .nav-menu a:not(.plans):focus-visible {
  color: #2b272f;
}

.footer-header a {
  transition: transform 0.3s ease;
}
.footer-header a svg > path {
  transition: fill 0.3s ease;
}
.footer-header a:hover {
  transform: scale(1.15);
}
.footer-header a:hover svg > path {
  fill: #2b272f;
}

.category-links a:hover {
  text-decoration: underline;
}

.hover-btn {
  margin-top: 2rem;
  padding: 0.675rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--hover-btn-clr, white);
  background-color: var(--hover-btn-bgclr, #2d2640);
  border: 1px solid var(--hover-btn-clr, white);
  transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}
.hover-btn:hover {
  color: var(--hovered-btn-clr, #2b272f);
  background-color: var(--hovered-btn-bgclr, white);
}

.header {
  padding: 1.5rem 0;
}

.nav {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-menu li > a {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
@media (max-width: 47.9375em) {
  .nav-menu {
    opacity: 0;
    visibility: hidden;
    margin-top: -1rem;
    transition: margin 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
    padding: 2.5rem 1.5rem;
    position: fixed;
    inset: 5rem 0 0 0;
    background-color: #2b272f;
    background-image: url(/images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
  .nav-menu > * + * {
    margin-top: 2rem;
  }
  .nav-menu li > a {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .nav-menu li > a.plans {
    padding: 1rem 0;
    width: 100%;
    border: 1px solid white;
  }
}
@media (min-width: 48em) {
  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav-menu > * + * {
    margin-left: 1.5rem;
  }
  .nav-menu li > a {
    color: #837d87;
    font-size: 0.8125rem;
  }
  .nav-menu li > a.plans {
    padding: 0.625rem 1.6875rem;
    color: #2b272f;
    border: 1px solid #2b272f;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .nav-menu li > a.plans:hover, .nav-menu li > a.plans:focus-visible {
    color: #fafafa;
    background-color: #2b272f;
  }
}
.nav-open {
  transition: transform 0.3s ease;
  transform: scale(1);
}
.nav-close {
  position: absolute;
  right: 0;
  transition: transform 0.3s ease;
  transform: scale(0);
}
@media (min-width: 48em) {
  .nav-open, .nav-close {
    display: none;
  }
}
.nav.show .nav-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.nav.show .nav-open {
  transform: scale(0);
}
.nav.show .nav-close {
  transform: scale(1);
}

.section-one {
  position: relative;
  color: white;
  background-color: #2d2640;
}
.section-one .left,
.section-one .right {
  position: absolute;
}
.section-one .left {
  width: min(50%, 275px);
  inset: calc(100vw / 0.83) auto auto 0;
}
.section-one .right {
  width: min(33%, 140px);
  inset: auto 0 0 auto;
  transform: translateY(50%);
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .section-one .left,
.section-one .right {
    display: none;
  }
}
@media (min-width: 64em) {
  .section-one .left {
    z-index: 0;
    content: url(/images/bg-pattern-intro-left-desktop.svg);
    top: 65%;
    width: min(13%, 200px);
  }
  .section-one .right {
    content: url(/images/bg-pattern-intro-right-desktop.svg);
    inset: 0 0 auto auto;
    width: min(30%, 385px);
    transform: translate(0);
  }
}
.section-one .content {
  position: relative;
}
.section-one .content .hero {
  margin: 0 -5vw;
}
.section-one .content .hero img {
  width: 100%;
}
.section-one .content .humanizing {
  position: relative;
  padding: 5.75rem 0;
}
.section-one .content .humanizing p {
  margin-top: 1rem;
}
@media (min-width: 48em) {
  .section-one .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .section-one .content .hero,
.section-one .content .humanizing {
    width: 100%;
  }
  .section-one .content .hero {
    margin: 0 -5vw 0 1rem;
    order: 2;
  }
  .section-one .content .hero > img {
    content: url(/images/image-intro-desktop.jpg);
  }
  .section-one .content .humanizing {
    order: 1;
    padding: 0;
  }
}
@media (min-width: 64em) {
  .section-one .content .hero {
    margin: 0 0 0 1.5rem;
    transform: translateY(100px);
  }
  .section-one .content .humanizing::before {
    content: "";
    position: absolute;
    inset: 0;
    margin-top: -3rem;
    width: 9.375rem;
    height: 1px;
    background-color: white;
  }
}

.section-two {
  margin: 11.25rem auto 8.75rem;
}
@media (min-width: 64em) {
  .section-two {
    margin-top: 20.625rem;
  }
}
.section-two .content {
  padding-top: 2rem;
}
.section-two .content h1 {
  position: relative;
}
.section-two .content h1::before {
  position: absolute;
  content: "";
  margin-top: -2.5rem;
  top: 0;
  left: 50%;
  width: 9.375rem;
  height: 1px;
  transform: translateX(-50%);
  background-color: #837d87;
}
@media (min-width: 48em) {
  .section-two .content h1::before {
    left: 0;
    transform: none;
  }
}
@media (min-width: 64em) {
  .section-two .content h1::before {
    margin-top: -3.75rem;
  }
}
.section-two .content .features .card {
  margin-top: 5rem;
}
.section-two .content .features .card img {
  margin-left: auto;
  margin-right: auto;
}
.section-two .content .features .card h3 {
  margin-top: 2rem;
}
.section-two .content .features .card p {
  margin-top: 1.5rem;
  color: #837d87;
}
@media (min-width: 48em) {
  .section-two .content .features {
    margin-top: 6.25rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2rem;
  }
  .section-two .content .features .card {
    margin-top: 0;
  }
  .section-two .content .features .card img {
    margin-left: 0;
  }
}

.section-three .content {
  padding: 4.5rem 2.5rem;
  background-color: #2d2640;
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
@media (min-width: 48em) {
  .section-three .content {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    background-position: 100% 50%;
    background-image: url(/images/bg-pattern-intro-right-desktop.svg);
  }
  .section-three .content button {
    margin-top: 0;
    justify-self: right;
  }
}

.footer {
  margin-top: 8.75rem;
  padding: 5.625rem 0;
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
}
@media (min-width: 48em) {
  .footer {
    background-image: url(/images/bg-pattern-footer-desktop.svg);
  }
}
.footer-header .logo {
  margin-left: auto;
  margin-right: auto;
}
.footer-header .socials {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-header .socials > * + * {
  margin-left: 1rem;
}
@media (min-width: 48em) {
  .footer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer-header .logo {
    margin: 0;
  }
  .footer-header .socials {
    margin-top: 0;
  }
}
.footer hr {
  margin-top: 2rem;
}
.footer-nav {
  font-size: 0.875rem;
  font-weight: bold;
}
.footer-nav p, .footer-nav a {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.footer-nav p {
  color: #837d87;
}
.footer-nav a {
  color: #2b272f;
}
.footer-nav .category {
  margin-top: 2rem;
}
.footer-nav .category-links {
  margin-top: 2rem;
}
.footer-nav .category-links > * + * {
  margin-top: 1rem;
}
@media (min-width: 48em) {
  .footer-nav {
    display: grid;
    align-items: flex-start;
    justify-items: space-between;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, max-content) 1fr;
    gap: 15%;
  }
  .footer-nav .category {
    width: max-content;
  }
}/*# sourceMappingURL=main.css.map */