/* FLEX AND GRIDBOX */
/* CENTER BLOCK */
/* PSEUDO ELEMENT */
/* BACKGROUND  */
/* TRANSITIONS */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1200px;
}
@media (max-width: 47.9375em) {
  .container {
    max-width: 500px;
  }
}

.text-center {
  text-align: center;
}

.sweepfromSide {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.sweepfromLevel {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

:root {
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
}
@media (min-width: 48em) {
  :root {
    --fs-400: clamp(.75rem, 1.5vw, 1.25rem);
    --fs-500: clamp(1.125rem, 2.3vw, 2rem);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-400);
  position: relative;
  padding-top: 1px;
  background: url("/images/pattern-curve.svg") no-repeat;
  background-position: bottom left;
  background-size: 100%;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  padding: 3.3125rem 0;
}
@media (min-width: 48em) {
  .main {
    padding: 7rem 0;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 4.2fr 1.1fr 4.7fr;
    grid-template-rows: auto;
  }
}
.main .slider {
  position: relative;
  background: url("/images/pattern-bg.svg") no-repeat center center/100% 100%;
  padding: 2.3125rem;
}
.main .slider img {
  border-radius: 0.5rem;
  box-shadow: 0px 42px 52px -32px rgba(32, 32, 70, 0.5);
  opacity: 0;
  transform: translateY(-30%);
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.main .slider-btns {
  border-radius: 4rem;
  overflow: hidden;
  background-color: white;
  position: absolute;
  width: min(23.5%, 7rem);
  height: min(12.5%, 3.5rem);
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 52px -12px rgba(32, 32, 70, 0.55);
  display: flex;
  flex-direction: row;
}
.main .slider-btns > * {
  transition: transform 0.3s ease-in-out;
  background-color: white;
  flex: 1 1 50%;
}
@media (min-width: 48em) {
  .main .slider-btns > *:hover svg {
    transform: scale(1.25);
  }
  .main .slider-btns > *:hover path {
    opacity: 0.6;
  }
}
.main .slider-btns > * svg {
  transition: transform 0.3s ease;
  transform: scale(0.73);
}
.main .slider-btns > * svg path {
  transition: opacity 0.3s ease;
}
@media (min-width: 48em) {
  .main .slider-btns {
    left: 25%;
  }
  .main .slider-btns svg {
    transform: scale(1);
  }
}
@media (min-width: 48em) {
  .main .slider {
    grid-area: 1/2/2/4;
    max-width: 36.0625rem;
    justify-self: flex-end;
  }
}
.main .testimonial {
  background: url("/images/pattern-quotes.svg") no-repeat;
  background-size: auto 22%;
  background-position: top 0 left 50%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 2rem;
  padding-top: 1.8125rem;
  text-align: center;
}
.main .testimonial .quote {
  font-size: var(--fs-500);
  font-weight: 300;
  color: #202046;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.main .testimonial .testimonee {
  opacity: 0;
  margin-top: 1.8125rem;
  color: #babacf;
  font-weight: 300;
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.main .testimonial .testimonee b {
  color: #202046;
}
@media (max-width: 47.9375em) {
  .main .testimonial span {
    display: block;
  }
}
@media (min-width: 48em) {
  .main .testimonial {
    margin-top: 0;
    grid-area: 1/1/2/3;
    z-index: 2;
    background-position: top 0 left 19%;
    height: 16.9375rem;
    text-align: left;
  }
  .main .testimonial span {
    margin-left: 0.5rem;
  }
  .main .testimonial br {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */