.footer{
    padding-bottom: toRem(75);
    background-color: $clr-neutral-900;
    border-top-right-radius: $br-large;
    
    figure{
        padding: toRem(75) 0;
    }
    section{
        a{
            color: $clr-neutral-100;
        }
        &:not(:first-child){
            margin-top: toRem(44);
        }
        ul{
            li{
                opacity: .6;
                margin-top: .75rem; 
                &:first-child{
                    margin-top: 1.5rem;
                }
            }
        }
    }
    @include breakpoint-up(large){
        padding: toRem(75) 0;
        text-align: left;
        &-content{
            @include grid(fs, fs);
            grid-template-columns: repeat(4, 1fr);
        }
        figure, section{
            padding: 0;
            margin: 0 !important;
        }
    }
}