.header {
	padding-bottom: toRem(156);
	background: url("/images/bg-pattern-intro.svg"), $clr-gradient-intro;
	background-position: top 36% left 39%;
	background-size: 1800px 1800px, cover;
	color: $clr-neutral-100;
	border-bottom-left-radius: $br-large;

	.nav {
		position: relative;
        @include flex(row);

		padding-top: toRem(56);
		padding-bottom: toRem(56);

		&-menu {
			@include breakpoint-down(large) {
				position: absolute;
				top: 100%;
				left: toRem(24);
				right: toRem(24);
				visibility: hidden;
			}
			padding: 1.5rem;
			background-color: $clr-neutral-100;
			border-radius: $br-small;

			@include breakpoint-up(large) {
                padding-right: 0;
                width: 100%;
                background-color: transparent;
				margin-left: 3rem;
                @include flex(row, c, c);
			}

			.menu-item {
				&:not(:first-child) {
                    @include breakpoint-down(large){
                        margin-top: 1.5rem;
                    }
					@include breakpoint-up(large) {
						margin-left: 3.5rem;
					}
				}
                position: relative;
				font-size: var(--fs-500);
                
				button {
					position: relative;
					@include center-auto;

					&::after {
						content: url("/images/icon-arrow-dark.svg");
						position: absolute;
						top: 0;
						bottom: 0;
						margin-left: 0.375rem;
						margin-top: -1px;
					}
                    @include breakpoint-up(large){
                        padding: 0;
                        color: $clr-neutral-100;
                        font-family: $ff-secondary;
                        font-weight: 500;
                        opacity: .8;
                        &::after{
                            content: url("/images/icon-arrow-light.svg");
                        }
                    }
				}
				.dropdown-wrapper {
					height: 0;
					overflow: hidden;
					ul {
						margin-top: 1rem;
						padding: 1.5rem 0;
						background-color: rgba(45, 46, 64, 0.1);
						border-radius: $br-small;
						li {
							&:not(:first-child) {
								margin-top: 1.5rem;
							}
						}
					}
                    @include breakpoint-up(large){
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        transform: translateX(-50%);
                        ul{
                            margin-top: 0;
                            padding: 2rem;
                            width: toRem(168);
                            background-color: $clr-neutral-100;
                            li{
                                text-align: left;
                            }
                        }
                    }
				}
			}
			//when button clicked, add class
			.enabled {
				.dropdown-wrapper {
					height: auto !important;
					max-height: 1000px !important;
				}
			}

			.client {
                @include flex(column, c,c);
				:last-child {
					background: $clr-gradient-intro;
					color: $clr-neutral-100;

                    @include breakpoint-up(large){
                        color: $clr-primary-700;
                        background: $clr-neutral-100;
                    }
				}
                @include breakpoint-up(large){
                    margin-left: auto;
                    flex-direction: row;
                }
			}
		}

		.ham-menu {
			margin-left: auto;
            @include breakpoint-up(large){
                display: none;
            }
		}
	}

	.header-info {
		margin-top: toRem(57);
		h1,
		p {
			color: $clr-neutral-100;
		}
		p {
			@include center-auto;
			width: 90%;
			font-size: var(--fs-500);
		}
		.get-started {
			margin-top: 2rem;
			@include flex();
			justify-content: center;
            
			:first-child {
				background-color: $clr-neutral-100;
				color: $clr-primary-700;
			}
			:last-child {
				margin-left: 1rem;
				color: $clr-neutral-100;
				border: solid 1px $clr-neutral-100;
			}
		}
	}
}

.bubbly {
	padding: 0.6875rem 0;
	width: toRem(137);
	border-radius: $br-medium;
	font-weight: 600;

    @include breakpoint-up(large){
        font-family: $ff-secondary;
        font-size: 1.0875rem;
		width: toRem(147);
        color: $clr-neutral-100;
    }
}
