.section-two{
    position: relative;
    margin-top: toRem(270);
    padding-top: toRem(216);
    padding-bottom: toRem(93);

    height: toRem(625);

    background: url("/images/bg-pattern-circles.svg"), $clr-gradient-body;
    background-size: 650px 650px, 100%;
    background-position: bottom 250px right 50%, top center;
    background-repeat: no-repeat;

    &::after{
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        content: "";
        background: url("/images/illustration-phones.svg") no-repeat;
        background-size: 100%;
        width: toRem(333);
        height: toRem(350);
        transform: translate(-50%, -50%);

    }

    border-bottom-left-radius: $br-large;
    border-top-right-radius: $br-large;
    > * {
        color: $clr-neutral-100;
    }
    p{
        opacity: .6;
    }
    h1{
        font-size: toRem(40);
    }
}