/** RESET **/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** BASE **/
body {
	position: relative;
	font-family: 'Karla', sans-serif;
	font-size: .75rem;
	min-height: 100vh;
	line-height: 1.6;
	background-color: $Light-Gray;
	@include grid(center, center);
	padding: 4.5rem 0;
}

h1{
	font-size: 1rem;
}
h2{
	font-size: .8375rem;
}

.attribution{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}


