/** RESET **/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** BASE **/
body {
	position: relative;
	font-family: 'Chivo', sans-serif;
	font-size: 1rem;
	text-align: center;
	line-height: 1.6;

	min-height: 100vh;
	background: linear-gradient(to bottom, $Mobile-BG, $Mobile-BG), url("/assets/mobile/image-host.jpg") no-repeat top center/cover;
	@include grid();
	justify-items: center;
}

figure{
	// text-align: center;
}

img{
	max-width: 100%;
	color: $Gray-Blue;
}








.attribution {
	position: absolute;
	width: 100%;
	bottom: 0;
	// left: 50%;
	// transform: translateX(-50%);
}

