$Main-Green: rgb(94,230,175);
$Dark-Saturated-Gray-Blue: rgb(44, 52, 75);
$Saturated-Gray-Blue: rgb(90,102,138);
$Gray-Blue: rgb(194, 203, 229);
$Black-Blue: rgb(18, 23, 37);
$Mobile-BG: rgba(18, 23, 37, .95);
$White: rgb(255,255,255);