figure{
    @include grid(c);
}

body{
    // padding-top: 1px;
    font-family: $ff-primary;
    font-size: var(--fs-400);
    color: $clr-neutral-100;
    background-color: $clr-neutral-900;

    position: relative;

    &::before{
        @include pseudo(100%, toRem(800));
        z-index: -1;

        @include breakpoint-down(medium){
            background: url("/images/bg-mobile.png") no-repeat center center/cover;
        }
        
        @include breakpoint-up(medium){
            background-color: $clr-neutral-900;
            background-image: url("/images/bg-desktop.png");
            background-repeat: no-repeat;
            background-position: bottom left;
        }


    }
}