:root{
    --fs-400: .875rem;
}

$clr-gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

$clr-neutral-100: hsl(243, 100%, 93%);
$clr-neutral-400: hsl(229, 7%, 55%);
$clr-neutral-700: hsl(228, 56%, 26%);
$clr-neutral-900: hsl(229, 57%, 11%);

$ff-primary: 'Raleway', sans-serif;

$fw-400: 400;
$fw-700: 700;

$br: .5rem;
