/** RESET **/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** BASE **/
body {
	position: relative;
	@include grid(center, center);

	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 0.8125rem;
	min-height: 100vh;
	
	background-color: $Light-grayish-blue;
}

img {
	display: block;
	max-width: 100%;
	max-height: 2.25rem;
	border-radius: 100%;
}

h1 {
	color: $White;
	font-size: 1.25rem;
}

h2{
	font-size: 1rem;
	color: $White;
}

h3{
	font-size: .8125rem;
	font-weight: 400;
	color: rgba(255,255,255,.5);
}

blockquote {
	line-height: 1.6;
	color: rgba(255,255,255,.7);
}
strong {
	color: $White;
	font-weight: 500;
}

.attribution {
	position: absolute;
	width: 100%;
	bottom: 0;
	// left: 50%;
	// transform: translateX(-50%);
}
