.pledged-modal{
    padding: 2rem 1.5rem 2rem;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    width: unquote("min(50vw, 475px)");
    height: unquote("min(65vh, 435px)");
    transform: translateY(-55%);

    z-index: 7;
    background-color: white;

    visibility: hidden;
	opacity: 0;
	transform: translateY(-3rem);
    transition: visibility .3s ease, opacity .3s ease, transform .3s ease;
    
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .2);
    text-align: center;
    border-radius: $br-s;

    &.enabled {
		visibility: visible;
		opacity: 1;
        transform: translateY(-55%);
	}

    > * + * {
        margin-top: 2.5rem;
    }

    button{
        background-color: $clr-primary-400;
        font-weight: 700;
        width: toRem(107);
    }

}